.container {
    background-image: url(https://vj-partner.com/assets/frontend/images/footer-bg.png) !important;
    background: #222935;
    color: #fff;
    padding: 20px 0 0;
    height: auto;
    width: 100%;
    .wrapper {
        padding: 20px 60px;
    }
}

.footer-images {
    height: 110px;
    margin-bottom: 20px;
    background-color: #fff;
    -o-object-fit: contain;
    object-fit: contain;
}

.footer-title {
    color: #fff;
    font-size: 18px;
    line-height: 2em;
    margin-bottom: 25px;
}

.social-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    li {
        margin-right: 15px;
        background: #303743;
        height: 42px;
        width: 42px;
        border-radius: 50%;
        line-height: 42px;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background: linear-gradient(45deg, #0e90d5, #3032a2);
            cursor: pointer;
        }
    }
}

.footer-list-heading {
    font-size: 2.2rem;
    margin-top: 0;
    position: relative;
    line-height: 2.4rem;

    &::after {
        position: absolute;
        content: '';
        height: 4px;
        width: 62px;
        left: 0;
        bottom: -7px;
        background: linear-gradient(45deg, #0e90d5, #3032a2) !important;
        border-radius: 6px;
    }
}

.footer-list-content {
    list-style: none;
    padding: 0 !important;
    li {
        margin-top: 34px;
        a {
            color: #ecedf1;
            position: relative;
            padding-left: 20px;
            transition: all 0.3s ease 0s;
            font-size: 18px;
            margin-bottom: 8px;

            &::after {
                position: absolute;
                content: '>';
                left: 0;
                top: 0;
                font-size: 20px;
                font-weight: 900;
            }

            &:hover {
                color: #0c59db;
            }
        }
    }
}

.footer-info {
    div {
        display: flex;
        color: #fff;
        margin: 15px 0 15px 0;
        line-height: 1.8em;
        font-size: 2rem;
        font-weight: 400;
    }

    .footer-contact {
        display: flex;
        align-items: center;

        .icon-contact {
            margin-right: 4px;
        }
    }
}

.footerTitle {
    background: #303743;
    padding: 15px 0;
    text-align: center;
    color: #a7a8b4;
    font-size: 18px;
}
